.search-result-text {
	display: block;
	font-size: 20px;
	margin: 30px 0px;
	text-align: center;
	display: none;
}

.film {
	height: 475px;
	padding: 10px;
	position: relative;
	top: 20px;
	opacity: 0;
}

.film-poster {
	display: block;
	width: 250px;
	height: 350px;
	background-position: center center;
	background-size: cover;
	background-image: url("../img/nocoverart.jpg");
	border-radius: 5px;
	margin: auto auto;
	-moz-transition: box-shadow .15s linear;
	-webkit-transition: box-shadow .15s linear;
	-o-transition: box-shadow .15s linear;
	-ms-transition: box-shadow .15s linear;
	transition: box-shadow .15s linear;
}

.film-poster:hover {
	box-shadow: 0px 0px 5px 5px #DDD;
}

.film-title {
	display: block;
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
}

.film-year {
	display: block;
	text-align: center;
	font-style: italic;
	margin-top: 7px
}

h1.error {
	text-align: center;
	margin-top: 100px;
}